.hidden {
  display: none; }

.noselect, .taskbar img, .ruler-dialog img, .dialog .dialog-icon, .dialog .dialog-title {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.taskbar {
  position: absolute;
  width: 60px;
  top: 50vh;
  left: 0px;
  padding: 10px;
  box-sizing: border-box;
  margin: 0;
  transform: translateY(-50%);
  border-top: 10px solid transparent;
  border-left: 6px solid black;
  border-right: 0;
  border-bottom: 10px solid transparent; }

.taskbar img, .ruler-dialog img {
  width: 100%;
  margin: 5px 0;
  padding: 0;
  cursor: pointer; }

.taskbar label, .ruler-dialog label {
  background: white;
  box-shadow: 4px 4px 6px lightgrey;
  padding: 6px 12px;
  position: absolute;
  top: 50%;
  left: 110%;
  transform: translateY(-50%);
  display: none;
  white-space: nowrap; }

.taskbar .taskbar-icon, .ruler-dialog .taskbar-icon {
  position: relative;
  width: 100%;
  transition: all .2s ease; }

.taskbar .taskbar-icon:hover, .ruler-dialog .taskbar-icon:hover {
  width: 140%;
  margin: 10px 0; }
  .taskbar .taskbar-icon:hover label, .ruler-dialog .taskbar-icon:hover label {
    display: block; }

.dialog {
  position: absolute;
  top: 240px;
  left: 80px;
  min-width: 200px;
  box-shadow: 0 0 6px grey;
  background: white;
  padding: 8px; }
  .dialog .dialog-icon {
    width: 60px;
    top: -30px;
    left: -20px;
    position: absolute; }
  .dialog .dialog-title {
    margin: 0;
    white-space: nowrap;
    padding: 6px;
    padding-left: 40px;
    margin-top: -32px;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    color: #000;
    text-shadow: 0 0 12px #2196F3; }
  .dialog .dragger {
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    height: 45px;
    cursor: move;
    z-index: 12; }
  .dialog .close-btn {
    display: block;
    position: absolute;
    z-index: 13;
    top: -13px;
    right: -13px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 0 0 6px grey; }
    .dialog .close-btn:before, .dialog .close-btn:after {
      content: "";
      display: block;
      position: absolute;
      top: 10px;
      left: 5px;
      width: 15px;
      height: 5px;
      background: red; }
    .dialog .close-btn:before {
      transform: rotate(-45deg); }
    .dialog .close-btn:after {
      transform: rotate(45deg); }
  .dialog hr {
    margin: 8px 0; }
  .dialog ul li {
    cursor: pointer; }

.query-dialog {
  width: 300px; }
  .query-dialog input, .query-dialog select {
    background: white;
    color: #333; }
  .query-dialog .querier {
    max-height: 300px;
    overflow-y: auto; }

.detail-dialog {
  min-width: 320px; }
  .detail-dialog .detail-content {
    max-height: 360px;
    max-width: 600px;
    overflow-y: auto; }
    .detail-dialog .detail-content .w3-col:nth-child(odd) {
      white-space: nowrap;
      font-size: 12px;
      line-height: 21px;
      width: 130px; }
    .detail-dialog .detail-content .w3-col:nth-child(even) {
      width: calc(100% - 130px); }
    .detail-dialog .detail-content .w3-row {
      border-bottom: 1px dashed #ddd; }
      .detail-dialog .detail-content .w3-row:last-child {
        border-width: 0 !important; }

.filter-dialog {
  min-width: 220px; }
  .filter-dialog input[type="checkbox"] {
    margin-top: 4px; }

.tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap; }
  .tooltip-measure {
    opacity: 1;
    font-weight: bold; }
    .tooltip-measure:before {
      border-top: 6px solid rgba(0, 0, 0, 0.3);
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
      content: "";
      position: absolute;
      bottom: -6px;
      margin-left: 7px;
      left: 50%; }

.ruler-dialog {
  position: absolute;
  width: 44px;
  top: 50px;
  left: 50px;
  transform: translate(100%, -50%);
  z-index: 10; }

.chpasswd-dialog {
  width: 300px; }

.modifier-dialog {
  width: 470px; }
  .modifier-dialog small {
    color: grey;
    line-height: 40px; }
  .modifier-dialog .w3-row .w3-col:nth-child(odd) {
    line-height: 2.6; }
  .modifier-dialog select {
    background: white; }
  .modifier-dialog .removable-item {
    position: relative; }
    .modifier-dialog .removable-item:hover .remove-btn {
      background: rgba(255, 255, 255, 0.6);
      color: red; }
    .modifier-dialog .removable-item .remove-btn {
      position: absolute;
      right: 7px;
      background: rgba(255, 10, 100, 0.6);
      color: white;
      display: inline-block;
      padding: 2px 5px 3px 5px;
      top: 10px;
      line-height: 1;
      cursor: pointer;
      font-weight: bold; }
  .modifier-dialog .react-datepicker-wrapper, .modifier-dialog .react-datepicker__input-container {
    display: block; }
  .modifier-dialog .modifier {
    max-height: 280px;
    overflow-y: auto; }
    .modifier-dialog .modifier input:disabled {
      cursor: not-allowed;
      color: #888; }
    .modifier-dialog .modifier .w3-row {
      padding: 5px 0;
      border-bottom: 1px dashed #ddd; }
      .modifier-dialog .modifier .w3-row:last-child {
        border-bottom: 0; }
      .modifier-dialog .modifier .w3-row label {
        display: inline-block; }
    .modifier-dialog .modifier .w3-col:nth-child(odd) {
      text-align: right; }

.login-dialog {
  width: 370px; }
  .login-dialog .w3-row .w3-col:nth-child(odd) {
    text-align: right;
    line-height: 2.6; }

li:hover .modifiable-item-tray {
  background: #ccc; }

.modifiable-item {
  position: relative; }
  .modifiable-item p {
    margin: 0;
    padding: 8px 16px; }
  .modifiable-item-tray {
    position: absolute;
    background: white;
    right: 0;
    top: 5px; }
  .modifiable-item-icon {
    width: 24px;
    display: inline-block;
    padding: 0 3px; }
    .modifiable-item-icon img {
      width: 100%; }
    .modifiable-item-icon.remove-icon {
      right: 10px; }
    .modifiable-item-icon.edit-icon {
      right: 35px; }

.w3-ul li.modifiable-item {
  padding: 0;
  border-bottom: 1px dashed #ddd; }

.confirmer {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10001; }
  .confirmer .msg {
    position: absolute;
    top: 30vh;
    left: 50vw;
    transform: translateX(-50%);
    width: 400px;
    background: white;
    padding: 12px;
    z-index: 10002;
    box-shadow: 0 0 8px white; }
  .confirmer .close-btn {
    display: block;
    position: absolute;
    z-index: 10003;
    top: -13px;
    right: -13px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 0 0 6px grey; }
    .confirmer .close-btn:before, .confirmer .close-btn:after {
      content: "";
      display: block;
      position: absolute;
      top: 10px;
      left: 5px;
      width: 15px;
      height: 5px;
      background: red; }
    .confirmer .close-btn:before {
      transform: rotate(-45deg); }
    .confirmer .close-btn:after {
      transform: rotate(45deg); }

html {
  height: 100vh;
  overflow: hidden;
  font-family: "Source Code Pro for Powerline", monospace, sans-serif !important;
  font-size: 14px; }

body, #map {
  height: 100vh;
  font-family: "Source Code Pro for Powerline", monospace, sans-serif !important; }
