
.detail-dialog
  min-width: 320px

  .detail-content
    max-height: 360px
    max-width: 600px
    overflow-y: auto

    .w3-col:nth-child(odd)
      white-space: nowrap
      font-size: 12px
      line-height: 21px
      width: 130px

    .w3-col:nth-child(even)
      width: calc(100% - 130px)

    .w3-row
      border-bottom: 1px dashed #ddd
      
      &:last-child
        border-width: 0 !important


