
.dialog
  position: absolute
  top: 240px
  left: 80px
  min-width: 200px
  box-shadow: 0 0 6px grey
  background: white
  padding: 8px

  .dialog-icon
    width: 60px
    top: -30px
    left: -20px
    position: absolute

  .dialog-title
    margin: 0
    padding: 6px
    padding-left: 40px
    margin-top: -35px
    font-size: 20px
    font-weight: bold
    text-transform: uppercase
    text-shadow: 2px 2px 6px #333

  hr
    margin: 8px 0
    

