
.modifier-dialog
  width: 470px

  small
    color: grey
    line-height: 40px

  .w3-row
    .w3-col:nth-child(odd)
      line-height: 2.6

  select
    background: white

  .removable-item
    position: relative

    &:hover
      .remove-btn
        background: rgba(255, 255, 255, .6)
        color: red

    .remove-btn
      position: absolute
      right: 7px
      background: rgba(255, 10, 100, .6)
      color: white
      display: inline-block
      padding: 2px 5px 3px 5px
      top: 10px
      line-height: 1
      cursor: pointer
      font-weight: bold

  .react-datepicker-wrapper, .react-datepicker__input-container
    display: block

  .modifier
    max-height: 280px
    overflow-y: auto

    input:disabled
      cursor: not-allowed
      color: #888

    .w3-row
      padding: 5px 0
      border-bottom: 1px dashed #ddd

      &:last-child
        border-bottom: 0

      label
        display: inline-block

    .w3-col:nth-child(odd)
        text-align: right

