@import constants
@import common

@import taskbar
@import dialog
@import query_dialog
@import detail_dialog
@import filter_dialog
@import ruler
@import ruler_dialog
@import chpasswd_dialog
@import modifier_dialog
@import login_dialog
@import modifiable_item

html
  height: 100vh
  overflow: hidden
  font-family: "Source Code Pro for Powerline", monospace, sans-serif !important
  font-size: 14px

body, #map
  height: 100vh
  font-family: "Source Code Pro for Powerline", monospace, sans-serif !important

